footer{
    border: solid green 2px;
    height: 30vh;
    color: rgba(255, 255, 255, 0.86);

}

.boxSocial{
    background: rgba(0, 86, 149, 1);
    height: 19vh;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.boxRodape{
    background: rgba(35, 32, 32, 1);

    

}